.float {
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.wiggle {
  animation: wiggle 2.5s both;
  animation-iteration-count: infinite;
  transform: rotate(2deg);
  transform-origin: 50% 50%;
}

@keyframes wiggle {
  50% {
    transform: rotate(-2deg);
  }
}
