body {
  margin: 0 auto;
  padding: 0;
}

header {
  position: fixed;
  padding: 10px;
  width: 100%;
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: var(--black);
}

ul {
  display: flex;
  list-style: none;
}

.nav_scrolled {
  color: #ffffff;
  background-color: var(--green);
  transition: 0.5s;
}

.nav_scrolled a {
  color: #ffffff;
}

main {
  height: 500vh;
}

footer {
  display: flex;
  background-color: var(--green);
}

.grey {
  background-color: var(--light-grey);
}

.splash {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

section {
  padding: 50px 20px 50px 20px;
}

.about_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (min-width: 1080px) {
  .about_img_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 50px 0px 0px 0px;
    flex-basis: 40%;
  }
  .about_img_container img {
    width: 70%;
  }
  .about_text_container {
    margin: 50px;
    flex-basis: 40%;
    align-self: center;
  }
  .about_container {
    display: flex;
    flex-wrap: nowrap;
    padding: 25px 80px 80px;
  }
  .snif_container {
    display: flex;
    flex-wrap: wrap;
  }
  .snif_text_container {
    display: flex;
    flex-wrap: nowrap;
  }
  .snif_text_left,
  .snif_text_right {
    padding: 25px 80px 80px;
  }
}
