body {
  margin: 0 auto;
  padding: 0;
}

header {
  position: fixed;
}

.single_header {
  position: relative;
}

nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px;
}

iframe {
  width: 100%;
  height: 100%;
}

.thumbnail {
  border-radius: 10px;
  cursor: pointer;
}

.backbutton {
  align-self: center;
}

.backbutton img {
  width: 70px;
}

/***************************************text****************************************/
h1 {
  font-size: 2.5rem;
  letter-spacing: 0.15rem;
  font-weight: 100;
  color: #ffffff;
}

h2 {
  font-size: 1.25rem;
  letter-spacing: 0.15rem;
  font-weight: 100;
  color: #ffffff;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
}

/***********************************************spil-side**************************************************/

.main_spil_container {
  height: 100vh;
}

.snif_container {
  display: block;
  position: relative;
  right: 17vw;
  top: 5vh;
}

.spil_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
}

article {
  text-align: start;
}

body {
  width: 100%;
  background-image: linear-gradient(-45deg, var(--other-orange) 50%, var(--orange) 50%);
  background-color: var(--other-orange);
  background-repeat: no-repeat;
  background-size: cover;
}

/*********************************************single-view*******************************************************/

.single_container {
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  /* height: 100vh; */
}

.iframe_container {
  display: flex;
  height: 250px;
}

.credits_container {
  display: flex;
  justify-content: center;
}

.fullscreen_container {
  text-align: end;
  align-self: flex-start;
  margin-top: 10px;
}

.fullscreen {
  width: 70px;
}

.navigation_container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
.thumbnail_singleview {
  width: 30%;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  cursor: pointer;
}

/*******************************************media-queries*****************************************************/
@media screen and (min-width: 751px) {
  .iframe_container {
    display: flex;
    width: 100%;
    height: 350px;
  }
  body {
    background-image: linear-gradient(-25deg, var(--other-orange) 50%, var(--orange) 50%);
  }
  .thumbnail_singleview {
    width: 20%;
  }
}
@media screen and (min-width: 1001px) {
  .iframe_container {
    display: flex;
    width: 100%;
    height: 450px;
  }
  body {
    background-image: linear-gradient(-35deg, var(--other-orange) 50%, var(--orange) 50%);
  }
}
@media screen and (min-width: 1080px) {
  body {
    background-color: var(--orange);
    background-image: url("../img/baggrund-1920.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .main_spil_container {
    display: flex;
    align-items: center;
  }
  .snif_container {
    display: flex;
    width: 75%;
    right: 0vw;
  }
  .spil_container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    margin: 15px;
  }
  .test {
    display: flex;
    justify-content: flex-end;
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 45px;
  }
  .single_container {
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
  }
  .iframe_container {
    height: 550px;
  }
  .credits_container {
    display: flex;
    justify-content: center;
  }
  .credits {
    line-height: 0px;
  }
  .thumbnail_singleview {
    width: 10%;
  }
}
@media screen and (min-width: 1319px) {
  .iframe_container {
    height: 650px;
  }
}
