:root {
  --orange: #fbba23;
  --green: #76b729;
  --grey: #585757;
  --blue: #92d2e0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  position: fixed;
}

iframe {
  background-color: #ffffff;
}

img {
  width: 100%;
}

.logo {
  width: 70px;
}

.backbutton {
  width: 70px;
}

button {
  display: block;
  border: none;
  padding: 20px 150px;
  border-radius: 10px;
  width: 100%;
  background-color: var(--green);
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}

.blue_button {
  background-color: var(--blue);
}

/***************************************text****************************************/

.game {
  border-radius: 10px;
}

a {
  text-decoration: none;
}

#container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 50px;
  text-align: center;
}

.img_container {
  align-self: center;
}

.btn_container {
  align-self: center;
}

.boern {
  background-color: var(--orange);
}

.main_spil_container {
  height: 100vh;
}

.spil_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
}

.single_container {
  display: grid;
  grid-template-columns: 70%;
  justify-content: center;
  height: 100vh;
}

.iframe_container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 144%;
  align-items: center;
}

.credits_container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media screen and (min-width: 939px) {
  .main_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #container {
    display: flex;
    width: 50%;
    height: 100vh;
    flex-wrap: nowrap;
  }
  .main_spil_container {
    display: flex;
    align-items: center;
  }
  .snif_container {
    display: flex;
    width: 40%;
  }
  .spil_container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    text-align: center;
    margin: 50px;
  }
  .test {
    display: flex;
    justify-content: flex-end;
  }
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 15px;
  }
  #spil {
    background-image: url("img/baggrund-1920.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
  }
}
